version: "3.9"

services:
  user-service:
    build: ./user-service
    ports:
      - "8001:8000"
    env_file:
      - ./user-service/.env

  product-service:
    build: ./product-service
    ports:
      - "8002:8000"
    env_file:
      - ./product-service/.env

  cart-order-service:
    build: ./cart-order-service
    ports:
      - "8003:8000"
    env_file:
      - ./cart-order-service/.env

  delivery-service:
    build: ./delivery-service
    ports:
      - "8004:8000"
    env_file:
      - ./delivery-service/.env